// Screen sizes
$tab-port: tab-port;
$tab-port-size: 600;

$tab-land: tab-land;
$tab-land-size: 900;

$desktop: desktop;
$desktop-size: 1200;

$huge: huge;
$huge-size: 1800;

// Column Generators
$row-x-class: flex-x;
$row-y-class: flex-y;
$cell-class: c;
$columns: 12;
$column-margin-size: 1rem;
$column-padding-size: 1rem;
